version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: coolify.Dockerfile
    restart: always
    environment:
      APP_ENV: prod
      APP_SECRET: ${APP_SECRET:-change_me_in_prod}
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "80:80"
    volumes:
      - app_data:/var/www/uvdesk/var
      - public_data:/var/www/uvdesk/public/assets

volumes:
  app_data:
  public_data:
