version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: coolify.Dockerfile
      args:
        COMPOSER_AUTH: ${COMPOSER_AUTH}
    restart: always
    environment:
      APP_ENV: prod
      APP_ENV: prod
      UV_SESSION_COOKIE_LIFETIME: ${UV_SESSION_COOKIE_LIFETIME:-1440}
      MAILER_DSN: ${MAILER_DSN:-null://null}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # ports:
    #   - "80:80" # Removed to avoid conflict with Coolify Proxy
    volumes:
      - app_data:/var/www/uvdesk/var
      - public_data:/var/www/uvdesk/public/assets
      - env_file:/data/uvdesk-config
    networks:
      - coolify

volumes:
  app_data:
  public_data:
  env_file:


networks:
  coolify:
    external: true
