version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: coolify.Dockerfile
      args:
        COMPOSER_AUTH: ${COMPOSER_AUTH}
    restart: always
    environment:
      APP_ENV: prod
      APP_SECRET: ${APP_SECRET:-change_me_in_prod}
      DATABASE_URL: ${DATABASE_URL}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # ports:
    #   - "80:80" # Removed to avoid conflict with Coolify Proxy
    volumes:
      - app_data:/var/www/uvdesk/var
      - public_data:/var/www/uvdesk/public/assets
      - env_file:/data/uvdesk-config
    networks:
      - coolify

volumes:
  app_data:
  public_data:
  env_file:


networks:
  coolify:
    external: true
